.userinfopw-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.teamHeader__header-container {
  display: flex;
  padding: 60px;
  position: relative;
  background-color: #FBFBFB;
  gap: 20px;
}
.teamHeader__logo {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}
.teamHeader__info { flex: 1; }
.teamHeader__team-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #000;
}
.teamHeader__description {
  font-size: 14px;
  color: #575757;
  line-height: 20px;
  word-break: keep-all;
}

.teamHeader__tab-container {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #979797;
}
.teamHeader__tab {
  padding: 14px 30px;
  text-align: center;
  background: none;
  border: none;
  color: #B5B5B5;
  font-size: 15px;
  cursor: pointer;
}
.teamHeader__tab.teamHeader__active {
  color: #000;
  font-weight: 500;
}

.error-form {
  width: 90%;
  max-width: 600px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.error-form p.error-title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.error-form p.error-desc {
  font-size: 15px;
  margin-top: -20px;
  text-align: center;
}
.error-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 13px;
  text-align: center;
}
.error-form button {
  background-color: #000;
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

.page-footer.normal-footer {
  background-color: #eee;
  height: 100px;
  width: 100%;
  position: static;
  margin-top: auto;
}